.background-image {
    background-image: url('../../../assets/img/maipu.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
/* Estilo del ion-card */
ion-card {
  width: 90%;
  max-width: 500px;
  margin: 50px auto; /* Centra el card y añade un margen superior */
  position: relative;
  overflow: hidden;
}

/* Contenedor cuadrado para la imagen */
.custom-image-container {
  position: relative;
  width: 100%;
  padding-top: 100%; /* Esto crea un contenedor cuadrado manteniendo una relación de aspecto 1:1 */
  overflow: hidden; /* Oculta cualquier contenido que se salga del contenedor */
}

/* Imagen */
.custom-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Recorta la imagen para que llene el contenedor */
  object-position: right center;
  display: block;
}

/* Texto superpuesto */
.overlay-text {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 0.8rem;
  text-align: left;
  max-width: 40%;
  word-wrap: break-word;
}
