.form-container {
    background-color: #BDC601; /* Fondo blanco semitransparente */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 20px auto; /* Margen automático para centrar */
    max-width: 600px; /* Ancho máximo del contenedor */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  }

  .background-image {
    background-image: url('../../../assets/img/maipu.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }