.form-container {
    background-color: rgba(189, 198, 1, 0.7); //#BDC601; 
    border-radius: 8px; 
    padding: 20px;
    margin: 20px auto;
    max-width: 600px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .background-image {
    background-image: url('../../../assets/img/datos.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
  
  .title-card {
    background-color: rgba(102, 102, 102, 0.5); //#666666 semi transparentado
    margin: 10px;
    border-radius: 20px;
  }

  .ion-text-center {
    color: white;
  }