.asistencia-container {
    background-color: #F1B634; /* Fondo claro para el contenedor */
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  }
  
  table {
    width: 100%;
    border-collapse: collapse; /* Para evitar espacios entre celdas */
  }
  
  thead {
    background-color: #1A1A1A; /* Color de fondo para el encabezado */
    color: white; /* Color de texto para el encabezado */
  }
  
  th, td {
    padding: 10px; /* Espaciado dentro de celdas */
    text-align: left; /* Alineación de texto a la izquierda */
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo para filas pares */
  }
  
  tbody tr:hover {
    background-color: #e0e0e0; /* Color de fondo al pasar el mouse */
  }
  
  h2 {
    color: black;
    text-align: center;
  }

  