  <div class="asistencia-container">
    <table>
      <thead>
        <tr>
          <th>Asignatura</th>
          <th>Profesor</th>
          <th>Día</th>
          <th>Hora Inicio</th>
          <th>Hora Fin</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asistencia of asistencias">
          <td>{{ asistencia.nombreAsignatura }}</td>
          <td>{{ asistencia.nombreProfesor }}</td>
          <td>{{ asistencia.dia }}</td>
          <td>{{ asistencia.horaInicio }}</td>
          <td>{{ asistencia.horaFin }}</td>
        </tr>
      </tbody>
    </table>
  </div>
