<ion-header>
  <ion-toolbar color="primary">
    <ion-title #titulo class="ion-text-left ion-text">
      <img class="logo-header" src=..\assets\img\logo-duoc.png alt="Duoc UC">


    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal background-image">
  <ion-card class="ion-text-center ion-padding-vertical">
    <ion-label>
      <h2>Pregunta Secreta</h2>
    </ion-label>
    <ion-card-subtitle>{{ usuario?.preguntaSecreta || 'Pregunta no disponible' }}</ion-card-subtitle>    
    <ion-item>
      <ion-label position="floating">Ingresa tu respuesta</ion-label>
      <ion-input type="text" [(ngModel)]="respuesta" placeholder="Respuesta secreta"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="validarRespuestaSecreta()">Validar respuesta</ion-button>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-left ion-text">

    </ion-title>
  </ion-toolbar>
</ion-footer>
