.background-image {
    background-image: url('../../../assets/img/maipu.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }

  .label-color {
    color: white;
  }

  .title-card {
    background-color: rgba(102, 102, 102, 0.5); //#666666 semi transparentado
    //background-color: rgba(189, 198, 1, 0.7); //#BDC601; 
    margin: 10px;
    border-radius: 20px;
    color: white;
  }