ion-content{
  --padding-top: 20px;
  --padding-bottom: 20px;
  --padding-end: 20px;
  --padding-start: 20px;
  --background: #ffffff;
}
ion-item{
  --padding-bottom: 10px;
  --background: #f0f0f0; 
  color: #000000; 
}

ion-card {
  background-color: rgba(189, 198, 1, 0.7); //#BDC601; 
  //background-color: rgba(102, 102, 102, 0.5); //#666666
  //--background: #fafafa; 
  color: #000000; 
  width: 90%;
  height: 60%;
  margin: auto;
  position: relative;
  top: 40%;
  transform: translateY(30%);
}

ion-card-title,
ion-card-content,
ion-label,
p,


ion-item ion-input {
  --background: ; 
  color: #000000; 
}

ion-input {
  background: transparent; 
  color: #000000;
  padding: 8px; 
  border-radius: 4px; 
}
// css de fondo pantalla
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../../assets/img/maipu.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1; 
}

// vista fondoen dispositivos movil
@media only screen and (max-width: 480px) {
  .background-image {
    background-size: 200%;
    background-position: center -210px;
  }
}

.title-card {
  background-color: rgba(102, 102, 102, 0.5); //#666666 semi transparentado
  margin: 10px;
  border-radius: 20px;
  color: white;
}

//.a-color {
//  color: black;
//  color: white;
//}