.background-image {
    background-image: url('../../../assets/img/maipu.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }
/* Agregar margen superior al ion-card para moverlo hacia abajo */
ion-card {
    width: 90%;
    max-width: 500px;
    margin: 50px auto; /* Centra el card y añade un margen superior */
    position: relative;
    overflow: hidden;
  }
  
  /* Contenedor de la imagen */
  .custom-image-container {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  /* Imagen */
  .custom-image {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .overlay-text {
    position: absolute;
    top: 10px; /* Ajusta la distancia desde la parte superior */
    right: 10px; /* Ajusta la distancia desde la derecha */
    color: black;
    font-size: 1.0rem; /* Ajusta el tamaño de la fuente según lo que necesites */
    text-align: right;
    max-width: 40%; /* Opcional: Limita el ancho del texto */
    word-wrap: break-word; /* Permite que el texto se ajuste a la caja */
  }
  
  .title-card {
    background-color: rgba(102, 102, 102, 0.5); //#666666 semi transparentado
    margin: 10px;
    border-radius: 20px;
    color: white;
  }