<ion-header>
  <ion-toolbar color="primary">
    <ion-title #titulo class="ion-text-left ion-text">
      <img class="logo-header" src="../assets/img/logo-duoc.png" alt="Duoc UC">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-horizontal background-image">
  <br>
  <ion-title class="ion-text-center">
    <h2 class="title-card">Sistema de Asistencia DUOC</h2>
  </ion-title>
  <ion-card class="ion-text-center ion-padding-vertical">

    <ion-card-content>
      <h2>Recuperar contraseña</h2>
      <p>Paso 1: ingresar tu correo</p>
      <ion-item>
        <ion-label position="floating">Ingresa tu correo</ion-label>
        <br>
        <ion-input type="text" [(ngModel)]="correo" placeholder="Ej:sau.vega@duocuc.cl"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col size="12">
          <ion-button expand="full" (click)="ingresarPaginaValidarRespuestaSecreta()">Recuperar contraseña</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
  <ion-label>
    <br>
    <div class="ion-text-center">
      <!--<a class="label-color" [routerLink]="['/login']">Iniciar Sesión</a>-->
    </div>
  </ion-label>
</ion-content>


<ion-footer>
  <ion-toolbar color="primary">
    <ion-title #titulo class="ion-text-center ion-text-center">
      <ion-tab-button tab="login" routerLink="/login" routerLinkActive="active-tab">
        <ion-icon name="log-in-outline"></ion-icon>
        Iniciar Sesión
      </ion-tab-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>