<ion-header>
  <ion-toolbar color="primary">
    <!--<ion-title style="text-align: center;" >QR Asistencia</ion-title> !-->
    <ion-title #titulo class="front-size-19"> <img class="logo-header" src= ..\assets\img\logo-duoc.png alt="Duoc UC"> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal background-image">
  <div class="ion-padding" style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <ion-card style="width: 90%; max-width: 500px;">
      <ion-card-header>
        <ion-card-title style="text-align: center; color: black;"> Código QR </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <input #fileinput hidden id="input-file" type="file" accept="image/*;capture=camera" 
          (change)="verificarArchivoConQR($event)" />

        <ion-button (click)="cargarImagenDesdeArchivo()" expand="block" shape="round" size="medium">
          <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
          Cargar Imagen con Código QR
        </ion-button>

        <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="block" shape="round" size="medium">
          <ion-icon slot="start" name="barcode-outline"></ion-icon>
          Comenzar Escaneo de QR
        </ion-button>

        <ion-button *ngIf="escaneando" (click)="detenerEscaneoQR()" expand="block" shape="round" size="medium">
          <ion-icon slot="start" name="stop-circle-outline"></ion-icon>
          Detener escaneo de QR
        </ion-button>

        <ion-button (click)="limpiarDatos()" expand="block" shape="round" size="medium">
          <ion-icon slot="start" name="cloud-offline-outline"></ion-icon>
          Limpiar datos
        </ion-button>

        <video #video [hidden]="!escaneando" width="100%"></video>
        <canvas #canvas hidden></canvas>

        <br>
        Datos: {{ datosQR }}
        <br><br>
        Escaneando: {{ escaneando }}
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" routerLink="/home" routerLinkActive="active-tab">
          <ion-icon name="planet-outline"></ion-icon>
          inicio
        </ion-tab-button>
        <ion-tab-button tab="miDatos" routerLink="/miDatos" routerLinkActive="active-tab">
          <ion-icon name="cog-outline"></ion-icon>
          Mis Datos
        </ion-tab-button>
        <ion-tab-button tab="asistencia" routerLink="/asistencia" linkrouterLinkActive="active-tab">
          <ion-icon name="id-card-outline"></ion-icon>
          Asistencia
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
