#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%; 
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

 
#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}


.background-image {
    background-image: url('../../../assets/img/inicio.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
  }

  .header-card {
    background-color: rgba(189, 198, 1, 0.7); //#BDC601 semi transparentado
  }

  .body-card {
    background-color: rgba(102, 102, 102, 0.7); //#666666
  }