<ion-header>
  <ion-toolbar>
    <ion-title #titulo class="front-size-19">
      <img class="logo-header" src="../assets/img/logo-duoc.png" alt="Duoc UC">
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="body-background"></div>
<ion-content>
  <div class="background-image"></div>
  <br>
  <div class="title-card">
    <h2 class="ion-text-center">Datos de la asignatura</h2>
  </div>
  
  <!-- Contenedor en formato de fila -->
  <div class="row-container">
    <ion-card class="center-card">
      <ion-card-header>
        <ion-card-title class="card-title-color">{{ asistencia?.nombreAsignatura || 'Asignatura no disponible' }}</ion-card-title>
      </ion-card-header>
      <ion-card-content class="center-content">
        <p>Profesor: {{ asistencia?.nombreProfesor || 'No asignado' }}</p>
        <p>Bloque Inicio: {{ asistencia?.bloqueInicio || 'No disponible' }}</p>
        <p>Bloque Termino: {{ asistencia?.bloqueTermino || 'No disponible' }}</p>
      </ion-card-content>
    </ion-card>

    <ion-card class="center-card">
      <ion-card-header>
        <ion-card-title class="card-title-color">Información Adicional</ion-card-title>
      </ion-card-header>
      <ion-card-content class="center-content">
        <p>Sección: {{ asistencia?.seccion || 'No disponible' }}</p>
        <p>Sede: {{ asistencia?.sede || 'No disponible' }}</p>
        <p>Hora Inicio: {{ asistencia?.horaInicio || 'No disponible' }}</p>
        <p>Hora Fin: {{ asistencia?.horaFin || 'No disponible' }}</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<!-- Comienza el Footer -->
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="login" routerLink="/login" routerLinkActive="active-tab">
          <ion-icon name="log-in-outline"></ion-icon>
          Cerrar Sesión
        </ion-tab-button>
        <ion-tab-button tab="miDatos" routerLink="/miDatos" routerLinkActive="active-tab">
          <ion-icon name="cog-outline"></ion-icon>
          <ion-label>Mis Datos</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="home" routerLink="/home" routerLinkActive="active-tab">
          <ion-icon name="planet-outline"></ion-icon>
          Inicio
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
